googletrans==3.1.0a0
translators
datasets
tqdm
yt-dlp
transformers 
accelerate 
deepspeed 
einops 
peft 
evaluate 
decord 
scikit-image 
prettytable 
opencv-python-headless 
wandb
av
git+https://github.com/NVIDIA/TransformerEngine.git@144e4888b2cdd60bd52e706d5b7a79cb9c1a7156
flash-attn